@page "/"
<PageTitle>Mitfahrerapp</PageTitle>

<h1>Mitfahrerapp</h1>
<p>Willkommen! Das ist die Startseite deiner Blazor WebAssembly App.</p>

<MudButton Variant="Variant.Filled" OnClick="@(() => count++)">
    Geklickt: @count
</MudButton>

@code {
    private int count = 0;
}
